<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>com.mycompany.evs.CandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstituencyServlet</servlet-name>
        <servlet-class>com.mycompany.evs.ConstituencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.mycompany.evs.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.evs.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.evs.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterVerificationServlet</servlet-name>
        <servlet-class>com.mycompany.evs.VoterVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartyServlet</servlet-name>
        <servlet-class>com.mycompany.evs.PartyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollingOfficersServlet</servlet-name>
        <servlet-class>com.mycompany.evs.PollingOfficersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.mycompany.evs.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiometricVerificationServlet</servlet-name>
        <servlet-class>com.mycompany.evs.BiometricVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteCastingServlet</servlet-name>
        <servlet-class>com.mycompany.evs.VoteCastingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsServlet</servlet-name>
        <servlet-class>com.mycompany.evs.ResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerVoter</servlet-name>
        <servlet-class>com.mycompany.evs.registerVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiometricVerificationServlet2</servlet-name>
        <servlet-class>com.mycompany.evs.BiometricVerificationServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/CandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstituencyServlet</servlet-name>
        <url-pattern>/ConstituencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterVerificationServlet</servlet-name>
        <url-pattern>/VoterVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartyServlet</servlet-name>
        <url-pattern>/PartyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollingOfficersServlet</servlet-name>
        <url-pattern>/PollingOfficersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiometricVerificationServlet</servlet-name>
        <url-pattern>/BiometricVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteCastingServlet</servlet-name>
        <url-pattern>/VoteCastingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/ResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerVoter</servlet-name>
        <url-pattern>/registerVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiometricVerificationServlet2</servlet-name>
        <url-pattern>/BiometricVerificationServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
